<a routerLink="/Product" [queryParams]="{ id: product.id }">
<div class="box">
    <img class="image-fit-container" src="{{product.image}}" />
    <div class="content-margin">
      <a routerLink="/Product" [queryParams]="{ id: product.id }">
        <h2>
          {{product.name}}
        </h2>
      </a>
      <h3>
        {{product.description}}
      </h3>
      <h4>
        ${{product.price.toString()}}
        <!-- <button (click)="addToCart()" class="add-to-cart-btn"  [ngClass]="{'added': addedToCart}">{{ addedToCart ? 'Added to Cart' : 'Add to Cart' }}</button> -->
      </h4>
    </div>
  </div>
</a>
  
  